* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #3b4550;
    --primary-dark: #0a3d66;
    --primary-hover: #0d5ba8;
    --primary-light: #09f;
    --background: #06182a;
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;
    --border: rgba(255, 255, 255, 0.1);
    --card-bg: #1e293b;
    --shadow: rgba(0, 0, 0, 0.3);
    --input-bg: #1e293b;
    --hsla-example: hsla(210, 100%, 56%, 1);
}


@font-face {
    font-family: 'Inter Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--background);
    color: var(--text-primary);
    min-height: 100uvh;
    /*total de la pantalla*/
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}


header {
    background: var(--background);
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem 2rem;
    border-bottom: 1px solid var(--border);


    h2 {
        line-height: 1.5rem;
        color: var(--text-primary);
        text-wrap: balance;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        svg {
            height: 2rem;
            width: 2rem;
            color: var(--primary-light);
        }

    }
}

header>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;

    a {
        font-size: 0.875rem;
        font-weight: 10;
        color: var(--text-primary);
        text-decoration: none;
        text-wrap: nowrap;
    }
}

@media(width>768px) {
    header>div {
        margin-left: auto;
    }
}




header nav {
    display: flex;
    justify-content: start;
    gap: 0.5rem;
    background-color: var(--background);

    .link-header {
        font-size: 0.875rem;
        font-weight: 10;
        color: var(--text-primary);
        text-decoration: none;

        &:hover {

            color: var(--primary-hover);
            text-decoration: underline;
        }

    }
}

button {
    background-color: var(--primary);
    /*background-color: var(--primary-dark);
    color: var(--primary-light);*/
    color: var(--text-primary);
    font-size: 1rem;
    font-family: inherit;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.2s;
    white-space: nowrap;
    /*para que no haga un salto de linea el texto del botón*/
    cursor: pointer;


    &:hover,
    &:focus {
        background-color: var(--primary-hover);
        outline: 2px solid white;
        outline-offset: 2px;
    }

    &:active {
        transform: scale(0.95);
    }


}


/*Se define el estilado de section job-search*/
.job-search {
    padding: 0 1rem;
    text-align: center;

}

.job-search form {
    max-width: 1200rem;
    width: 100%;
    margin: 0 auto;

}

.job-search h1 {
    color: var(--text-primary);
    font-size: 2rem;
    padding-top: 36px;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.job-search p {
    color: var(--text-muted);
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.search-bar {
    width: 100%;
    max-width: 1200px;
    background-color: var(--input-bg);
    border: 1.5px solid var(--border);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.25rem;
}

.search-bar input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-muted);
    font-size: 0.9rem;
    padding: 0.75rem 0.5rem;
    min-width: 0;
}

.search-bar svg {
    height: 1.5rem;
    width: auto;
    flex-shrink: 0;
    color: var(--text-muted);


}

.search-bar button {
    background-color: var(--primary);
    flex-shrink: 0;

    &:hover,
    &:focus {
        background-color: var(--primary-hover);
        outline: 2px solid white;
        outline-offset: 2px;
    }

    &:active {
        transform: scale(0.95);
    }

}

.search-filters {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.75rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.search-filters select {
    background-color: var(--input-bg);
    color: #ffffff;
    padding: 0.5rem;
    font-family: inherit;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 1rem;

}

main>section:nth-child(2) {
    padding-inline: 1rem;
    background-color: var(--background);


    h2 {
        color: var(--text-primary);
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        border-bottom: none;
    }
}

.jobs-listings {
    border: 1px solid var(--border);
    border-radius: 1rem;
    list-style: none;

    li article {

        background: none;
        padding: 1rem;
        display: flex;
        align-items: start;
        border-bottom: 1px solid var(--border);
        gap: 1rem;
        flex-direction: column;

        h3 {
            font-weight: 500;
        }

        small {
            color: var(--text-muted);
            font-size: 0.9rem;
        }

        p {
            font-weight: 200;
            margin-top: 0.5rem;
        }
    }

    li:last-child article {
        border-bottom: none;
    }
}

@media(width>768px) {
    .jobs-listings {
        li article {
            flex-direction: row;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-block: 1rem;

    a {
        display: flex;
        color: var(--text-muted);
        text-decoration: none;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 0.3rem;
        transition: all 0.3s;

        &:hover {
            background-color: var(--text-primary);

        }

        &.is-active {
            background-color: var(--primary-light);
            color: var(--text-primary);
            pointer-events: none;

        }

    }
}




footer {
    display: flex;
    justify-content: center;
    background-color: var(--background);
    border-top: 1px solid var(--border);
    padding: 2rem;

    small {
        color: var(--text-muted);
        font-size: 0.8;

    }
}